#root {
  width: 100%;
  min-height: 100vh;
}

.app {
  width: 100%;
  min-height: 100vh;
  display: grid;
  place-items: center;
}

.page {
  width: 100%;
  max-width: 900px;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  align-items: center;
  text-align: center;
}


.center {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60vh;
}

.menuButton {
  padding: 1rem 2rem;
  font-size: 1.2rem;
  border-radius: 12px;
  cursor: pointer;
}

.linkButton {
  background: none;
  border: none;
  color: #646cff;
  cursor: pointer;
  font-size: 1rem;

  position: absolute;
  top: 20px;
  left: 20px;
}

.readerBox {
  height: 60vh;
  width: 400px; 
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 12px;
}
